[defaults]
inventory             = ./inventory/aws_ec2.yml
host_key_checking     = False
stdout_callback       = yaml
gathering             = smart
fact_caching          = jsonfile
fact_caching_connection = ./.ansible_facts
forks                 = 10
retry_files_enabled   = False
interpreter_python    = auto_silent
collections_path      = ./.ansible/collections

[ssh_connection]
# We don't use SSH — connection plugin is aws_ssm. Defaults left for completeness.
pipelining = True

[inventory]
enable_plugins = aws_ec2
